version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=jennifer
      - POSTGRES_DB=happy_testing
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    command: ["/bin/bash", "./docker/dev-entrypoint.sh"]
    environment:
      - DATABASE_URL=postgresql://postgres:jennifer@db:5432/happy_testing?schema=public
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=jennifer
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db-data:
